<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">{{title}}</a>
  <div class="navbar-expand mr-auto">
    <ul class="navbar-nav mr-auto">
      <li class="navbar-nav">
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/campaigns">Campaigns</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/packages">Packages</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/units">Units</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/maps">Maps</a>
      </li>
    </ul>
  </div>
  <div class="navbar-expand ml-auto navbar-nav" *ngIf="selectedUser != null">
    <div class="navbar-nav">
      <span class="nav-item nav-link" routerLinkActive="active" routerLink="/user">User: {{selectedUser.id}}</span>
      <a class="nav-item nav-link" routerLink="/user/clear">
        <i class="fa fa-close"></i>
      </a>
    </div>
  </div>
</nav>
